body{
    margin:0
}

#container{
    position: fixed;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.italics{
    font-style: italic;
}

.app_logo{
	display: block;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 85%;
	width: 90%;
	background-color: white;
}


